recursive-include zt_backend/dist_dev *
recursive-include zt_backend/dist_app *
recursive-include copilot/node_modules *
include copilot/client.js
include zt_cli/log_config.yaml
include zt_dev_cli/log_config.yaml