html,
body {
  font-family: ('Pathway Extreme', sans-serif);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul { list-style-position: inside;}

.zt-menu {
  border: 1px solid rgba(var(--v-theme-bluegrey));
  .v-list-item__prepend {
    margin-right: 12px;
  }
}

.v-container {
  max-width: 1250px;
}

.code-output {
  white-space: pre-wrap;
}
.v-expansion-panel--active > .v-expansion-panel-title {
  min-height: 31px;
}

.add-cell-item:hover {
  background-color: rgba(var(--v-theme-bluegrey)); 
}

.text-capitalize {
  text-transform: capitalize;
}
@import 'utilities'
