html,
body {
  font-family: ('Pathway Extreme', sans-serif);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.zt-menu {
  border: 1px solid rgba(var(--v-theme-bluegrey));
  .v-list-item__prepend {
    margin-right: 12px;
  }
}

.v-container {
  max-width: 900px;
}

.code-output {
  white-space: normal;
}
.v-expansion-panel--active > .v-expansion-panel-title {
  min-height: 31px;
}

@import 'utilities'
