@use 'vuetify/settings' with (
  $body-font-family: ('Pathway Extreme', sans-serif),
	$btn-toggle-selected-opacity: 0,
  $expansion-panel-title-min-height: 31px,
  $expansion-panel-title-padding: 8px 24px,
  $list-item-icon-margin-start: 0
);
