name: Release Please

on:
  push:
    branches:
      - main
permissions:
      contents: write
      pull-requests: write

jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - name: release-please-action
              uses: google-github-actions/release-please-action@v4.1.1
              with:
                  token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
                  release-type: python
